html {
    display: block;
}

body {
    margin: 0;
    min-height: 100vh;
    width:auto;
    background-color: rgb(38, 8, 8);
    padding: 0 8%;
    display: block;
    background-repeat: no-repeat;
    background-image: url(/images2/search1.jpg);
    background-position: center;
    background-size: cover;
}

.nakaw {
    width: 100px;
    height: 100px;
    padding: 1px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.list:hover {
   
   transform: scale(1.15);
   border-radius: 20px;
}


nav ul li {
    margin: 10px 30px;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: Helvetica;
    border-radius:20    px;
}

nav ul li a :hover {
    transform: none;
}

nav ul li input {
    color: black;
    background-color: white;
    width: 180px;

    align-items: center;
    padding: 10px;
    
    -webkit-border-radius: 20px 20px 20px 20px;
border-radius: 20px 20px 20px 20px;
}

input::placeholder {
    color: lightslategray;
    opacity: 1;
    padding: 10px;
  }


#time {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 200px;
}

div.gallery {
    margin: 5px;
    display: inline-flex;
    padding: 50px;
    width: 180px;
    float: bottom;
    
  }

.gallery img {
    width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}



figcaption {
    text-decoration: underline;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}