* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color:rgba(147, 146, 146, 0.356);
    --main-color: #309f486f;
    --text-color: #010101;
    --2nd-color: #000000;
    --3rd-color:rgb(111, 182, 112);
    --big-font: 3rem;
    --h2-font: 2.3rem;
    --p-font: 1.9rem; 
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 14%;
    transition: all .50s ease;
}

.logo img {
    width: 200px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
    padding-right: 5%;
}

.navbar a {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    margin: 10px 22px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: white;
}

.h-icons {
     display: flex;
     align-items: center;
}

.h-icons i {
    font-size: 25px;
    color:var(--text-color);
    margin-left: 5px;
    margin-right: 20px;
    transition: all .50s ease;
}

.h-icons i:hover {
    transform: translateY(-4px);
    color:white;
}

#menu-icon{
    height: 30px;
    width: 30px;
    background: var(--other-color);
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 60px 14% 70px;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/Jai_Company/bgImage.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text h1 {
    font-family: 'Nunito', sans-serif;
    font-size: var(--big-font);
    color: var(--2nd-color);
    line-height: 1.3;
    margin-bottom: 25px;
}

.home-text p {

    color:var(--other-color);
    font-size: var(--p-font);
    line-height: 33px;
    margin-bottom: 60px;

}

.btn{
    color: black;
    transition: all .50 ease;
    background-color: rgba(5, 51, 5, 0.271);
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.banner {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    align-items: center;
    gap: 2.5rem;
    background-image: url(/Jai_Company/bgImage.png);
}

.banner-img{
    overflow: hidden;   
}

.banner-img img {
    width: 500px;
    display: block;
    transition: transform 0.5s;
    cursor: pointer;
}

.banner-img:hover img {
    transform: scale(1.1);
}

.center-text h2{
    text-align: center;
    font-size: var(--h2-font);
    font-weight: 800;
    color: var(--text-color);
}